/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* NB: This file is accessible to content. */

body {
  color: white;
  background-color: black;
  white-space: pre-wrap;
}

.console-message {
  font-family: monospace;
}

/* Fade out most of the text (read: non-identifiers) for drag and drop... */
body[dragover] .console-message {
  color: #444;
  transition: color 0.25s;
}

/* ... but keep the identifier names the same color. */
body[dragover] .console-message .outer {
  color: white;
}

/* See |ConsoleWriter.prototype.writeInput| for a good explanation of the
 * .outer/.inner stuff.
 *
 * Since :hover doesn't work for drag and drop, the console's
 * |ScrollbackDragManager| instance simulates it.  It'll set the "dragover"
 * attribute to "true" for the most immediate .outer (but not the surrounding
 * ones) at the times when you'd expect it to, so we can highlight it with
 * spectacular effects.
 */
body[dragover] .console-message .outer[dragover] {
  text-shadow: 0 0 0.0625em steelblue;
  text-decoration: underline;
  -moz-text-decoration-style: dotted;
  -moz-text-decoration-color: dimgray;
}

.console-message *[draggable] {
  cursor: default;
}

.console-message .clickable {
  cursor: pointer;
  text-decoration: underline;
}

.console-message .uri {
  color: lightsteelblue;
}
