/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin");

#txConsoleInput {
  font-family: monospace;
}

#bxAutoCompleteResultsTree {
  margin: 0;
}

#bxAutoCompleteResultsTree > treecols {
  height: 0;
}


#bxAutoCompleteResultsTree > treechildren::-moz-tree-cell-text {
  font-family: -moz-fixed;
}
